body {
      width: 100%;
      display: flex;
      justify-content: center;
      background-size: cover;
      background-image: url("https://st.depositphotos.com/34144898/56171/i/450/depositphotos_561718076-stock-photo-raindrops-on-the-glass-against.jpg");
      font-family: 'Comic Sans MS', cursive;
      text-align: center;
      background-color: #2f0f3;
      margin: 0;
      padding: 2rem;
  color: white;
    }
    .box {
      width: 80%;
      border: 3px dashed #d4a373;
      background-color: #9924FF;
      padding: 2rem;
      border-radius: 20px;
      border-color: #C97FFF;
      cursor: pointer;
      transition: transform 0.2s;
      opacity: 1;
    }
    .box:hover {
      transform: scale(1.05);
    }
    .hidden {
      display: none;
    }
    #scene img {
      max-width: 200px;
    }
    button {
      margin-top: 2rem;
      padding: 1rem 2rem;
      background-color: #f08080;
      color: white;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      cursor: pointer;
    }
    button:hover {
      background-color: #e66a6a;
    }
    .happy {
      animation: pulse 2s infinite;
    }
    @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.05); }
      100% { transform: scale(1); }
    }

img {
  border-radius: 10px;
  border: 1px solid white;
}
